{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Thesenboard</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontcss/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'modules/helperFunctions.js' %}"></script>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm top-nav">
      <h5 class="my-0 mr-md-auto font-weight-normal">
          <a href="{% url 'home' %}">Thesenboard</a>
      </h5>

   {% if user.is_authenticated %}
       <div class="mr-3 header-username">
        <a href="{% url 'profile'%}"><i class="fas fa-user"></i> {{ user.get_username }}</a>
       </div>
       <div class="logout-box">
         <a href="{% url 'logout'%}"><i class="fas fa-sign-out-alt logout"></i></a>
       </div>
   {% else %}
       <ul id="registerList">
         <li class="text-right m-0 p-0"><a class="btn btn-outline-primary" href="{% url 'login' %}">Anmelden</a></li>
       </ul>
   {% endif %}
    </div>

    {% block content %}
    {% endblock content %}

    <script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>
</html>