{% extends "base.html" %}

    {% block content %}

        {% if validlink %}
            <div class="content anmeldung">
                <h1 class="h3 mb-3 font-weight-normal">Passwort zurücksetzen:</h1>
                <p>Bitte geben Sie ein neues Passwort ein und bestätigen Sie dieses:</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="d_new_password1" class="sr-only">Neues Passwort</label>
                    <input type="password" name="new_password1" id="id_new_password1" maxlength="254" class="form-control" required autofocus>
                    <label for="id_new_password2" class="sr-only">Passwort Wiederholung</label>
                    <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                    <div class="mt-2">
                      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Neues Passwort speichern" />
                    </div>
                </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">Passwort kann nicht zurückgesetzt werden!</div>
                    <p>Der Link ist nicht mehr gültig. Bitte fordern Sie einen neuen an!</p>
                {% endif %}
            </div>

    {% endblock content %}