{% extends "base.html" %}

    {% block content %}

        <div class="content anmeldung">
            <form action="" method="post" class="form-signin">
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                <h1 class="h3 mb-3 font-weight-normal">Passwort zurücksetzen:</h1>
                <input type="email" name="email" id="id_email" maxlength="254" class="form-control" placeholder="Email Adresse" required autofocus>
                <div class="mt-2">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Jetzt Zurücksetzen">
                </div>
          </form>

        </div>

    {% endblock content %}