html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.h3 {
  font-size: 24px!important;
}
/* Header Section */
h5 > a:link,
h5 > a:active,
h5 > a:visited {
    font-family: 'Lobster', cursive;
    color: #294C5D;
    text-decoration: none;
    font-size: 32px;
}
.header-username > a:link,
.header-username > a:visited,
.header-username > a:hover {
    text-decoration: none;
}
#user-logged-in {
  list-style-type: none;
  padding: 0!important;
  margin:0!important;
}
#registerList {
  list-style-type: none;
  padding: 0!important;
  margin:0!important;
}
#registerList > li {
  padding: 0!important;
  margin:0!important;
}
#register {
    font-size: 12px;
}
/* Login Section */
.anmeldung,
.abmeldung {
    margin: 0 auto;
    max-width: 350px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Profil */
.cust-value {
    padding: 20px 0px 0px 25px!important;
}