html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.h3 {
  font-size: 24px!important;
}
a.undecorated:link,
a.undecorated:visited,
a.undecorated:hover {
     text-decoration: none;
}
/* Header Section */
h5 > a:link,
h5 > a:active,
h5 > a:visited {
    font-family: 'Lobster', cursive;
    color: #294C5D;
    text-decoration: none;
    font-size: 32px;
}
.header-username > a:link,
.header-username > a:visited,
.header-username > a:hover {
    text-decoration: none;
}
#user-logged-in {
  list-style-type: none;
  padding: 0!important;
  margin:0!important;
}
#registerList {
  list-style-type: none;
  padding: 0!important;
  margin:0!important;
}
#registerList > li {
  padding: 0!important;
  margin:0!important;
}
#register {
    font-size: 12px;
}
.logout {
    font-size: 1.4em;
}
.logout-box {
    font-size: 1.4em;
    padding: 5px 0 0 0;
}
i.fa-user {
  display: inline-block;
  border-radius: 50px;
  padding: 0.5em 0.6em;
  color: #fff;
  font-size: 0.9em;
  background-color: #294C5D;
  margin-right: 3px;
}
.top-nav {
    height: 80px;
}
/* Login Section */
.anmeldung,
.abmeldung {
    margin: 0 auto;
    max-width: 350px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Profil */
.cust-value {
    padding: 20px 0px 0px 25px!important;
}
/* home */
.jumbotron {
    padding: 15px!important;
}
.titel {
    padding: 5px;
    margin: 5px 0 0 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #BCC8CE;
}
.fazit {
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #BCC8CE;
}
#thesen {
    padding: 0;
    margin: 0;
}
.neue-these-box {
    margin: 0 auto;
}
/* card elements */
.home-card {
    max-width: 750px;
    margin: 0 0 10px 0;
}
.home-card-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 12px;
}
.home-card-info {
    margin-left: 12px;
    font-size: 0.8em;
}
.card {
    padding-top: 0!important;
    margin-top: 0!important;
    box-shadow: 2px 5px 9px #888888;
}
.card-circle {
  margin: 0 12px 12px 12px;
  padding-left: 13px;
  height: 50px;
  width: 50px;
  background-color: #607D8B;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}